<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Colin is a UK-based, quirky digital illustrator, visual designer and animator with a leaning towards children's content.">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">    
    <title>Colin Bunner - quirky digital illustrator, visual designer and animator.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/grayscale.css" rel="stylesheet">    

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"> 

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="/img/colin-sketch.png" alt="Colin Sketch" />
                        <h1 class="h2">Colin Bunner - Illustration / Design / Animation </h1>
                        <p>Site under construction. Please use the form below to contact me, or follow links.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
				
				
	<section>
        
        <div class="container">
            
            {{ content }}

        </div>


    </section>
    
    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script>
        $("form").validate();
    </script>
    
    
    
    


</body>

</html>
